* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Work Sans', sans-serif;
    background-color: #0b1028;
    color: #ffffff;
}

.wrapper {
    border-radius: 10px;
    width: 500px;
    background-color: #293464;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #674afb, #40d5c3);
    height: 180px;
    color: #ffffff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

h1 {
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
}

.header p {
    margin-top: 10px;
}

.splitter {
    padding: 40px 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.count {
    display: block;
    margin: 15px auto;
    background-color: #40d5c3;
    border: none;
    border-radius: 100px;
    height: 50px;
    width: 40%;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.count:hover {
    border: 2px solid #40d5c3;
    color: #40d5c3;
    background-color: transparent;
    transition: all .1s;
}

input, select {
    margin-bottom: 20px;
    padding: 8px 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #44d1c2;
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    background-color: #293464;
}

input:focus, select:focus {
    outline: none;
}

.cost-info {
    display: none;
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
}

.cost {
    font-weight: bold;
}

.error {
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
    color: #e3242b;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}